
%link href="styles.scss" rel="stylesheet"
%div{:class => "bg"}
  %div{:class => "auror_bg"}
  %div{:class => "aur_cont"}
    - (1..24).each do |i|
      %span{:class => "aur aur_#{i}"}
  %div{:class => "star"}  
  - (1..4).each do |i|
    %span{:class => "wave wave_#{i}"}
  %div{:class => "pinetree"}
    %span{:class => "foot"}
  %span{:class => "hill"}
  